

{% block body %}


            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{ user.display_name }} is from {{ location }}
            </div>

        </div>
{% endblock %}