{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .tier-ball {
            width: 15px;
            height: 15px;
            float: right;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #community-top-spacer {
            height: 25px;
        }

        #recents td, #recents th {
            font-size: 80%;
            border: 1px solid rgba(46, 48, 50, 0.47);
            padding: 3px 7px 2px 7px;
        }

        #recents th {
            font-size: 1.1em;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 4px;
            background-color: #64b0bf;
            color: #ffffff;
            font-weight: bold;
        }

        #recents .points {
            text-align: right;
        }

        #recents tr {
            vertical-align: top;
            background: #ffffff;
        }

        #recents tr:nth-child(odd) {
            background: #f9deb6;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="community-top-spacer">&nbsp;</div>
        <h2>Our newest users:</h2>
        <div class="row">
            <div class="col-md-8">

                <div class="twothirds_div">
                    <table id="recents">
                        <tr>
                            <th>User</th>
                            <th>Tier</th>
                            <th>Points</th>
                            <th>Phone</th>
                        </tr>
                        {% for user in recent_users %}
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" data-href="/community/_modal.html?id={{ user[0] }}"
                                       class="openPopup">
                                        {{ user[1] }}
                                    </a>
                                <td>
                                    {{ user[2] }}
                                    <span class="tier-ball {{ user[2].lower() }}"></span>
                                </td>
                                <td class="points">{{ '{:.0f}'.format(user[3]) }}</td>
                                <td>
                                    {% for ph in user[4] %}
                                        {{ '{:s}'.format(ph[0]) }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                {#            Filled in by external html template: community_modal.html  #}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.openPopup').on('click', function () {
                var dataURL = $(this).attr('data-href');
                $('.modal-content').load(dataURL, function () {
                    $('#myModal').modal({show: true});
                });
            });
        });
    </script>

{% endblock %}


